/* common.css */
:root {
    --main-color: #000;
    --sub-color: #767676;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    color: var(--main-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}