/* common.css */
:root {
    --main-color: #21BF48;
    --main-txt-color: #000000;
    --sub-txt-color: #767676;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* gnb */
#gnb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 32rem;
    border-bottom: 1px solid #eee;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);

}

/* gnb__left */
.gnb__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}


.gnb__logo img {
    width: 12.4rem; 
    aspect-ratio: 124/38;
}

.gnb__search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18.7rem;
    border: 2px solid var(--main-color);
    border-radius: 5rem;
    padding: 0.9rem 2.2rem;
}

.gnb__search-form input {
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.gnb__search-form button {
    background: none;
    cursor: pointer;
}

.gnb__search-form img {
    width: 2.8rem;
    aspect-ratio: 1/1;
}

/* gnb__right */
.gnb__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gnb__menu {
    display: flex;
    gap: 2.6rem;
}

.gnb__menu-item {
    position: relative;
}

.gnb__menu-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: var(--sub-txt-color);
    font-size: 1.2rem;
}

.gnb__menu-item img {
    width: 3.2rem;
    aspect-ratio: 1/1;
}

.mypage-dropdown {
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    padding: 2rem 1rem 1rem;
    transform: translateX(-50%); 
    background: #FFF;
    border: 1px solid #C4C4C4;
    border-radius: 1rem;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
    min-width: 13rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.mypage-dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.mypage-dropdown__item {
    display: block;
    padding: 1rem 1.7rem;
    color: #767676;
    text-decoration: none;
    font-size: 1.6rem; 
    font-weight: 500;
}

.mypage-dropdown__item:hover {
    border: 1px solid #767676;
    border-radius: 0.5rem;
    color: #000;
}

.mypage-dropdown::before {
    content: '';
    position: absolute;
    top: -0.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 0.8rem solid #C4C4C4;
}

.mypage-dropdown::after {
    content: '';
    position: absolute;
    top: -0.7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 0.8rem solid white;
}

/* footer */
footer {
    margin-top: 18rem;
    background-color: #f2f2f2;
    padding: 5.4rem 0 6.3rem;
}

/* 푸터 상단 영역 */
.footer-top {
    display: flex;
    justify-content: space-between;
    max-width: 128rem;
    margin: 0 auto;
    padding: 0 0 2.2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #C4C4C4;
}

/* 푸터 네비게이션 */
.footer-nav ul {
    display: flex;
    gap: 3.2rem;
}

.footer-nav a {
    color: #000;
    font-size: 1.4rem;
}

/* 소셜미디어 링크 */
.footer-sns ul {
    display: flex;
    gap: 1.4rem;
}

.footer-sns a {
    display: inline-block;
    width: 3.2rem;
    aspect-ratio: 1/1;
}

.footer-sns img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 푸터 정보 영역 */
.footer-info {
    max-width: 128rem;
    margin: 0 auto;
    
}

.footer-info p {
    color: #767676;
    font-size: 1.4rem;
    line-height: 2rem;
}

.company-name {
    font-weight: 700;
}