section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.error-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.error-txt h2 {
    font-size: 3.6rem;
    font-weight: 700;
}

.error-txt p {
    font-size: 1.6rem;
    color: #767676;
}

.redirection-btn {
    display: flex;
    gap: 1.4rem;
}

.btn{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 6rem;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 700;
}

.btn-home {
    background-color: var(--main-color);
    color: #FFFFFF;
}

.btn-back {
    border: 1px solid #C4C4C4;
    color: #767676;
}