body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

/* header */
.login-header {
    margin-top: 18rem;
}

.login-header__logo img {
    width: 23.8rem;
    aspect-ratio: 238/74;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* login__container */
.login__container {
    width: 55rem;
    border: 1px solid #C4C4C4;
    border-top: none;
    border-radius: 1rem;
}

/* login-tabs */
.login-tabs {
    display: flex;
}

.login__tab-item {
    width: 100%;
    padding: 2rem 7.7rem;
    border: 1px solid #C4C4C4;
    border-left: none;
    border-radius: 1rem;
    background: #F2F2F2;
    cursor: pointer;
}

.login__tab-item.active {
    background: #fff;
    border-bottom: none;
}

.login__tab-item button {
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
}

/* login__form */
.login__form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 3.4rem 3.5rem;
}

.login__form input {
    border: none;
    border-bottom: 1px solid #C4C4C4;
    padding: 2rem 0 2rem;
    text-align: left;
    font-size: 1.6rem;
}

.login__form .error-message {
    display: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #EB5757;
    margin: 2.6rem 0;

}

.login__form .error-message.show {
    display: block;
}

.login__form button {
    background: var(--main-color);
    color: #FFFFFF;
    padding: 1.9rem 0;

    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;

    border: none;
    border-radius: 0.5rem;
    
    cursor: pointer;
}

/* login-links */
.login-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.6rem;
    color: #333333;
}

.login__link-item:last-child::before {
    content: '|';
    display: inline-block;
    margin: 0 1.4rem;
    color: #333333;
    font-size: 1.6rem;
}