body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

/* Header */
.signup-header {
    margin-top: 7rem;
    background-color: #fff;
}

.signup-header__logo {
    text-align: center;
}

.signup-header__logo img {
    width: 23.8rem;
    aspect-ratio: 238/74;
}

/* main */
section {
    width: 55rem;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    border-top: none;
    border-radius: 1rem;
}

/* Sign Tabs */
.sign-tabs {
    display: flex;
}

.sign__tab-item {
    width: 100%;
    padding: 2rem 7.7rem;
    border: 1px solid #C4C4C4;
    border-radius: 1rem;
    background: #F2F2F2;
    cursor: pointer;
}

.sign__tab-item.active {
    background: #fff;
    border-bottom: none;
}

.sign__tab-item button {
    font-size: 1.8rem;
    font-weight: 500;
}

/* Form */
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;

    padding: 3.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Labels */
.form-group label {
    font-size: 1.6rem;
    font-weight: 400;
    color: #767676;
    margin-bottom: 1rem;
}

/* Input Styles */
.form-group input,
select {
    width: 100%;
    padding: 1.6rem;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-size: 1.6rem;
    outline: none;
}

.form-group input:focus,
select:focus {
    border-color: #21BF48;
}

/* Input Wrapper */
.input-wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.check-btn {
    padding: 1.7rem 3.1rem;
    background-color: #21BF48;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}

.input-wrapper.pw {
    position: relative;
}

.password-check {
    position: absolute;
    width: 2.8rem;
    aspect-ratio: 1/1;
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
    pointer-events: none;
}

.input-message {
    margin-top: 1rem;
    font-size: 1.6rem;
}

/* Phone Wrapper */
.phone-wrapper {
    display: flex;
    gap: 1.2rem;
}

.phone-wrapper select {
    width: 15.2rem;
    text-align: center;
}

.phone-wrapper input {
    flex: 1;
}

/* Checkbox Wrapper */
.checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.checkbox-wrapper input {
    width: 1.6rem;
    height: 1.6rem;
}

.checkbox-wrapper label {
    font-size: 1.6rem;
    color: #767676;
    font-weight: 400;
    line-height: 2rem;
}

.link {
    font-weight: 700;
    text-decoration: underline;
}

/* Submit Button */
.signup-btn {
    padding: 1.9rem 20.6rem;
    background-color: #21BF48;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
}
